---
layout: default
indexEasing: easing
---

<!-- section About
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <section id="sectionAbout">

          <div class="sectionTitle">
              <h1>O mnie</h1>
          </div>

          <div class="about">

          <div class="container">

            <div class="col-md-12 col-sm-12 col-xs-12 story">
            <div class="profileText">

            <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="storyText long" style="text-align: center">
                <img src="assets/images/dominika_pluskiewicz_o.png" />
            </div>
            </div>

            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
            <!--<div hidden class="storyText">
            <h4>W swojej pracy zajmuję się</h4>
            <ul>
                <li><h6><a href="#anxiety-popup" class="open-popup-link">Zaburzeniami lękowymi</a></h6></li>
                <li><h6><a href="#mood-popup" class="open-popup-link">Zaburzeniami nastroju</a></h6></li>
                <li><h6><a href="#insomnia-popup" class="open-popup-link">Bezsennością</a></h6></li>
                <li><h6><a href="#stress-popup" class="open-popup-link">Stresem</a></h6></li>
            </ul>

            <div id="stress-popup" class="white-popup mfp-hide">
                <div class="storyText long">
                    <h6>Stres</h6>
                    <p>
                        Stres  jest zaburzeniem homeostazy spowodowanym czynnikiem fizycznym lub psychologicznym.
                        Mówimy o stresie  jako o bodźcu, reakcji lub procesie. Stres może powstawać pod wpływem codziennych wydarzeń.
                        Najczęstszymi objawami stresu są pobudzenie emocjonalne, wzrost ciśnienia krwi, przyspieszenie akcji serca,
                        ból głowy, ból brzucha, przyspieszenie oddechu, suchość w ustach, gęsia skórka, wzrost stężenia glukozy
                        we krwi lub przyspieszona perystaltyka jelit.
                        <br>
                        Stres jest zjawiskiem powszechnym, ma motywować nas do działania. Jednak gdy trwa zbyt długo,
                        staje się przewlekły  i jest zbyt silny przekraczając możliwości jednostki może doprowadzić do
                        wykształcenia się m.in. zaburzeń lękowych, depresyjnych i wypalenia zawodowego.
                    </p>
                </div>
            </div>

            <div id="anxiety-popup" class="white-popup mfp-hide">
                <div class="storyText long">
                    <h6>Zaburzenia lękowe</h6>
                    <p>
                        Zaburzenia lękowe  grupa zaburzeń, których wspólnymi cechami są nadmierny strach i lęk. Najczęściej
                        występujące objawy to <b>nadmierne martwienie się, reagowanie nasilonym lękiem, napady paniki,
                        unikanie sytuacji potencjalnie trudnych, np. zakupy, szkoła/praca. Często towarzyszące są objawy
                        somatyczne, np. ból lub dyskomfort w klatce piersiowej, uczucie dławienia się, uczucie duszności,
                        nadmierna potliwość, roztrzęsienie, napięcie mięśniowe, uderzenia gorąca lub dreszcze.</b>
                        <br>
                        Do zaburzeń lękowych należą m.in.: fobie specyficzne, agorafobia, fobia społeczna, lęk paniczny,
                        zespół lęku uogólnionego, zaburzenie obsesyjno-kompulsyjne.
                    </p>
                </div>
            </div>

            <div id="insomnia-popup" class="white-popup mfp-hide">
                <div class="storyText long">
                    <h6>Bezsenność</h6>
                    <p>
                        Bezsenność jest to <b>subiektywne</b> poczucie pacjenta, że jakość lub ilość snu jest nieodpowiednia.
                        Typowe objawy to skargi na trudności z zaśnięciem, trudności w utrzymaniu ciągłości snu, wczesne
                        budzenie, poczucie złej jakości snu, obawy, że wynikające z bezsenności napięcia, drażliwość,
                        senność i  trudności w skupieniu uwagi zakłócają funkcjonowanie w ciągu dnia.
                        <br>
                        O bezsenność nie mówimy, gdy dochodzi do przygodnych  trudności ze snem spowodowanych np. powrotem
                        z wakacji lub infekcją. Takie trudności  uważane są na naturalną reakcję fizjologiczną organizmu,
                        przemijająca w momencie powrotu do równowagi rytmu biologicznego.
                    </p>
                </div>
            </div>

            <div id="mood-popup" class="white-popup mfp-hide">
                <div class="storyText long">
                    <h6>Zaburzenia depresyjne</h6>
                    <p>
                        Zaburzenia depresyjne (zespoły objawów depresyjnych występujące w przebiegu chorób afektywnych)
                        mogą przejawiać się <b>obniżeniem nastroju, utratą energii, negatywizmem, unikaniem kontaktów z rodziną
                        i znajomymi – tendencją do samotności , utratą zainteresowań lub wcześniej podejmowanych form
                        aktywności, myślami samobójczymi, utratą apetytu, obniżonym poczuciem własnej wartości, zmniejszonym
                        poczuciem pewności siebie, niezdolnością do przeżywania przyjemności.</b>
                        <br>
                        Do zaburzeń depresyjnych należą m.in. depresja (łagodna, umiarkowana, ciężka), zaburzenia depresyjne nawracające.
                    </p>
                    <h6>Zaburzenia nastroju</h6>
                    <p>
                        Zaburzenia nastroju są grupą zaburzeń w których występują zaburzenia emocji, nastroju i aktywności.
                        Wśród najczęściej spotykanych objawów w przebiegu choroby afektywnej dwubiegunowej lub jednobiegunowej
                        obecnych podczas <b>epizodów depresji są: obniżenie nastroju, uczucie niższości, brak wiary we własne
                        możliwości, uczucie ciągłego zmęczenia, bezsenność lub nadmierna senność, spowolnienie, obniżenie libido.
                        <br>
                        Epizody maniakalne charakteryzują się: nadmiernym podwyższeniem nastroju, przewartościowywaniem własnej
                        osoby, nadmierną wiarą we własne siły, poczuciem energii, gonitwą myśli, nadpobudliwością psychoruchową
                        lub stale odczuwanym podnieceniem.</b>
                        <br>
                        Do zaburzeń nastroju należą m.in. zaburzenie afektywne dwubiegunowe (ChAD), dystymia, cyklotymia.
                    </p>
                </div>
            </div>

            </div>-->

                <div class="storyText long">
                    <p>
                        Jestem psychologiem, <a href="http://www.pttpb.pl/strefa-pacjenta/licencjonowani-terapeuci/">certyfikowanym psychoterapeutą poznawczo-behawioralnym (nr 642</a>).
                        Specjalizuję się w psychoterapii osób cierpiących z powodu lęku, napadów paniki, fobii, smutku,
                        natręctw, nadmiernych wymagań wobec siebie, bezsenności i będących w kryzysie emocjonalnym.</p>

                    <p><b>W ramach swojej praktyki prowadzę terapię indywidualną dla młodzieży i osób
                        dorosłych.</b><br>
                        Przyjmuję w <b><a href="http://psychologodnowa.pl/pl/o-nas?id=26">Centrum Terapii Poznawczo-Behawioralnej OD&nbsp;NOWA</a></b></p>

                    <p>Jestem członkiem <a href="http://www.pttpb.pl/">Polskiego Towarzystwa Terapii Poznawczo-Behawioralnej</a>.</p>
                </div>
            </div>

            </div>
            </div>

            <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 quote">
            <p>
                To, czym jesteśmy dzisiaj, jest owocem naszych wczorajszych myśli, a myśli, których dzisiaj doświadczamy, budują nasze jutro. Życie jest wytworem naszego umysłu.
                <h5>Budda</h5>
            </p>
            </div>
            </div>



          </div>


      </section>



<section id="sectionTherapy">
    <div class="sectionTitle">
        <h1>Terapia</h1>
        <h6>Poznawczo-Behawioralna</h6>
    </div>


    <div class="container">
        <div class="row servicesRow">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="servicesBox">
                    <div class="servicesIcon">
                        <div class="icon icon-basic-magnifier"></div>
                    </div>
                    <div class="servicesContent">
                        <h4>Terapia</h4>
                        <p class="plineheight">
                            Pierwsze kilka spotkań to wizyty konsultacyjne, które pozwalają podjąć decyzję o
                            rozpoczęciu psychoterapii. Proces terapeutyczny zaczyna się od zebrania wywiadu, który pomoże
                            w określeniu problemu i celu leczenia. Na kolejnych spotkaniach pracuje się nad zidentyfikowanym
                            problemem i jego objawami.
                        </p>
                    </div>
                </div>

                <div class="servicesBox">
                    <div class="servicesContent">
                        <p class="plineheight">
                            W pracy terapeutycznej wykorzystuję metody terapii poznawczo behawioralnej (cognitive–behavioral
                            therapy – <strong>CBT</strong>) i w jej ramach także metody tzw. trzeciej fali: dialektyczną
                            terapię behawioralną (<strong>DBT</strong>), terapię akceptacji i zaangażowania
                            (<strong>ACT</strong>) i <strong>Terapię Schematów</strong>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="servicesBox">
                    <div class="servicesIcon">
                        <div class="icon icon-basic-life-buoy"></div>
                    </div>
                    <div class="servicesContent">
                        <h4>Psychoterapia poznawczo-behawioralna</h4>
                        <p class="plineheight">
                            Jest to terapia oparta o współczesne teorie dotyczące funkcjonowania psychicznego człowieka.
                            Skuteczność stosowanych w jej ramach metod została zweryfikowana naukowo. Pacjent i terapeuta wspólnie pracują nad zrozumieniem i zidentyfikowaniem
                            problemu. Istotnym wzorcem, na którym skupia się terapia jest wpływ myśli, emocji i zachowania na codzienne funkcjonowanie pacjenta.
                            Relacja pomiędzy pacjentem a psychoterapeutą opiera się na zasadzie współpracy. Nieodłącznym elementem
                            terapii jest aktywny udział pacjenta (praca poza sesjami), który umożliwia osiągnięcie pożądanych rezultatów.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- section Resume
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <section id="sectionResume">

      <!-- section TITLE -->
      <div class="sectionTitle">
            <h1>Doświadczenie</h1>
      </div>

         <div class="container">
            <div class="row resumeRow">

                <div class="col-md-6 resumeEd">

                    <ul class="resumeList">
                        <li class="resTitle"><h4>Wykształcenie</h4></li>
                        <li>
                            <div class="resumeIcon">
                                <div class="icon icon-basic-book"></div>
                            </div>
                            <div class="resumeContent">
                                <h5>Psychologia, specjalność kliniczna</h5>
                                <p class="plineheight">
                                Szkoła Wyższa Psychologii Społeczniej w Warszawie, oddział we Wrocławiu</p>
                            </div>
                        </li>
                        <li>
                            <div class="resumeIcon">
                                <div class="icon icon-basic-book"></div>
                            </div>
                            <div class="resumeContent">
                                <h5>Czteroletnie certyfikowane szkolenie Podyplomowe z Terapii Poznawczo-Behawioralnej</h5>
                                <p class="plineheight">
                                Uniwersytet SWPS, pod kierownictwem dr Ewy Pragłowskiej i dr Agnieszki Popiel</p>
                            </div>
                        </li>
                        <li>
                            <div class="resumeIcon">
                                <div class="icon icon-basic-book"></div>
                            </div>
                            <div class="resumeContent">
                                <p class="plineheight">
                                Nieustannie podnoszę swoje kwalifikacje poprzez uczestnictwo w szkoleniach, konferencjach naukowych i kursach dotyczących psychoterapii.</p>
                                <p class="plineheight">
                                Swoją pracę terapeutyczną poddaję regularnej superwizji.</p>
                            </div>
                        </li>
                    </ul>

                </div>


                <div class="col-md-6 resumeEmp">

                    <ul class="resumeList">
                        <li class="resTitle"><h4>Doświadczenie zawodowe</h4></li>
                        <li>
                            <div class="resumeIcon">
                                <div class="icon icon-basic-case"></div>
                            </div>
                            <div class="resumeContent">
                                <p class="plineheight">
                                    Doświadczenie z zakresu diagnostyki psychologicznej, poradnictwa i psychoterapii zdobywałam m.in.
                                    podczas pracy, staży i praktyk w&nbsp;Centrach Badań Medyczno-Psychologicznych, w Oddziałach
                                    Dziennych i Zamkniętych Psychiatrycznych w&nbsp;Szpitalnej Opiece Zdrowotnej, ośrodkach terapeutycznych, a także
                                    w&nbsp;fundacji wspierającej onkologicznie chorych pacjentów i ich rodziny.
                            </div>
                        </li>
			<li>
                            <div class="resumeIcon">
                                <div class="icon icon-basic-case"></div>
                            </div>
                            <div class="resumeContent">
                                <p class="plineheight"><strong>Posiadam doświadczenie w pracy z osobami cierpiącymi z powodu:</strong></p>

                                <ul class="plineheight">
                                        <li>zaburzeń lękowych (m.in: lęk paniczny, lęk społeczny, lęk uogólniony, lęk o zdrowie, agorafobia, fobie proste, zaburzenie obsesyjno-kompulsyjne, natręctwa)</li>
                                        <li>depresji, smutku, obniżonego nastroju i choroby afektywnej dwubiegunowej</li>
                                        <li>trudności adaptacyjnych (silny stres)</li>
                                        <li>bezsenności</li>
                                        <li>kryzysu psychicznego</li>
                                        <li>trudności życiowych i strat</li>
                                        <li>nieśmiałości</li>
                                        <li>niskiej samooceny</li>
                                        <li>trudności w relacjach</li>
                                        <li>nadmiernych wymagań wobec siebie</li>
                                </ul>
                            </div>
			</li>
                    </ul>

                </div>



            </div>


        </div>
    </section>

<section id="sectionArticles">
    <div class="sectionTitle">
        <h1>Czytelnia</h1>
    </div>

    <div class="container">

        <div id="blog-grid" class="bGrid">

            <div class="gutter-sizer"></div>

            {% for post in site.posts %}
            {% capture mod %}{{ forloop.index | modulo: 3}}{% endcapture %}
            {% capture url %}
                {% if post.redir %}{{ post.redir }} {% else %} {{ post.url }} {% endif %}
            {% endcapture %}

            <div class="blog-item item-four item-margin">
                <img src="{{ root_url }}/{{ post.image }}" alt="{{ post.title }}">
                <a href="{{ url }}"><h3>{{ post.title }}</h3></a>
                <p>
                    {{ post.lead }}<br>
                    <b><a href="{{ url }}">Czytaj dalej</a></b>
                </p>
                <h6>
                    {% for category in post.categories %}
                        {{ category }}{% if forloop.last %}{% else %}, {% endif %}
                    {% endfor %}
                </h6>
            </div>

            {% endfor %}

        </div>


    </div>
</section>

<!-- section Contact
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <section id="sectionContact">
            <div class="sectionTitle LessPaddingTitle">
              <h1>Kontakt</h1>
            </div>

            <div class="container">

                   <div class="contactForm">

                       <div class="col-md-5 col-sm-12 col-xs-12">
                           <div class="profileText">
                               <div class="storyText facebook">
                                   <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpsychoterapeutycznie%2F&tabs&width=340&height=154&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=911888692544456" width="340" height="154" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                               </div>
                               <div class="storyText">
                                   <h6>Telefon:</h6>
                                   <p><b>881 526 899</b></p>
                                   <h6>Adres:</h6>
                                   <p><a href="https://www.google.pl/maps?q=podwale+62" target="_blank">ul. Podwale 62a lok. 6, Wrocław</a></p>
                                   <h6>E-mail:</h6>
                                   <p><a href="mailto:psycholog@pluskiewicz.pl">psycholog@pluskiewicz.pl</a></p>
                                   <h6>Rejestracja online</h6>
                                   <p><a href="http://www.psychologodnowa.pl/pl/rejestracja-online#system-message-container">Umów wizytę</a></p>
				   <h6><a href="https://www.psychologodnowa.pl/pl/oferta#tab1">Cennik</a></h6>
                               </div>
                           </div>
                       </div>

                       <div class="col-md-7 col-sm-12 col-xs-12">
                        <google-map latitude="51.103654" longitude="17.038758" zoom="16" map-type="hybrid" style="height: 490px" api-key="AIzaSyAuEIiaMSzoMCziIdxnpx8JnWwQr3-EG_Q">
                            <google-map-marker latitude="51.1032382618737" longitude="17.038580052195705">
                                <div class="profileText">
                                    <h6>Wejście przez Centrum Biznesu WCP</h6>
                                    <p><img src="{{ root_url }}/assets/images/budynek.jpg" style="width: 250px"/></p>
                                </div>
                            </google-map-marker>
                        </google-map>
                       </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <!--MESSAGE SENT SUCCESFULLY-->
                    <div id="message"></div>

                    <!--MAIN FORM-->

                    <form method="post" action="//formspree.io/psycholog@pluskiewicz.pl" name="contactform" id="contactform">

                    <fieldset>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <input name="name" type="text" id="name" required placeholder="Imię* :" size="30" value="" />
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <input name="email" type="text" id="email" required placeholder="E-mail* :" size="30" value="" />
                      </div>

                      <div class="col-md-4 col-sm-12 col-xs-12">
                        <input name="_subject" type="text" id="subject" required placeholder="Temat* :" size="30" value="" />
                      </div>

                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <textarea name="comments" cols="40" rows="3" required placeholder="Wiadomość* :" id="comments"></textarea>
                      </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            Wypełniając formularz wyrażasz zgodę na przetwarzanie podanych w formularzu danych osobowych na cel kontaktu w sprawie zapytania.
                            Szczegóły odnośnie przetwarzania danych osobowych znajdziesz w <a href="./polityka-prywatnosci.html">polityce prywatności</a>.
                        </div>

                        <input type="hidden" name="_next" value="http://psycholog.pluskiewicz.pl/email.html" />
                        <input type="text" name="_gotcha" style="display:none" />
                        <input type="submit" class="submit" id="submit" value="Wyślij" />


                    </fieldset>

                    </form>
                    <!--END Main form-->
                    </div>

                    </div>
                    <!-- END contact FORM-->
            </div>



        </section>
