{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Witaj na stronie psycholog Dominiki Pluskiewicz, psychoterapeuty poznawczo-behawioralnego z Wrocławia">
    <meta name="keywords" content="psycholog, psychoterapia, cbt, terapia, poznawczo-behawioralna, wrocław, zaburzenia nastroju, panika, bezsenność, fobia, agorafobia, lęk, depresja, anoreksja, bulimia, ocd">
    <meta name="author" content="Dominika Pluskiewicz">
    <!-- Page titles
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ root_url }}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{ root_url }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ root_url }}/assets/css/animate.css">
    <link rel="stylesheet" href="{{ root_url }}/assets/css/magnific-popup.css">
    <!-- Icons
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ root_url }}/assets/icons/Linea/styles.css" />
    <link rel="stylesheet" href="{{ root_url }}/assets/icons/Elegant/style.css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">

    <script src="{{ root_url }}/assets/js/modernizr.js"></script> <!-- Modernizr -->

    <link rel="canonical" href="{{ page.url }}">

    <style>
        paper-tooltip {
            --paper-tooltip: {
                font-family: "Montserrat", sans-serif;
                font-size: 0.5em;
            };
        }

        mwc-fab {
            --mdc-theme-secondary: #FFA500;
        }
    </style>
  </head>

<!-- Body Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body class="unresolved" data-spy="scroll" data-target=".navigation">

<!-- Loader
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="loader">
    <div id="loaderInner"></div>
</div>

<!-- Header Bar
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header id="headerBar">

    <div class="container">

        <a href="https://www.psychologodnowa.pl/pl/rejestracja-online#system-message-container"
           target="_blank"
           data-toggle="tooltip"
           data-placement="left"
           title="Umów wizytę online">
            <mwc-fab id="book" class="book" icon="schedule"></mwc-fab>
        </a>

        <!--Header logo on the left side-->

        <div class="col-md-4 col-sm-2 col-xs-10 headerLeft">
            <a href="{{ root_url }}/index.html">
                <span class="default-header"><img src="{{ root_url }}/assets/images/logo_320px.png" alt="Gabinet Psychoterapii Dominika Pluskiewicz"></span>
                <span class="small-header"><img src="{{ root_url }}/assets/images/mandala_320px.png" alt="Gabinet Psychoterapii Dominika Pluskiewicz"></span>
            </a>
        </div>

        <!--Header right side with left-aligned menu-->

        <div class="col-md-8 col-sm-10 col-xs-2 headerRight">
            <div class="header-right">

                <!--Navigation-->
                <nav class="navigation">

                    <div class="navbar-header">
                  <span class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <i class="fa fa-bars"></i>
                  </span>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="navbar navbar-right">
                            <li><a href="{{ root_url }}/index.html#sectionAbout" class="{{ page.indexEasing }}">O mnie</a></li>
                            <li><a href="{{ root_url }}/index.html#sectionTherapy" class="{{ page.indexEasing }}">Terapia</a></li>
                            <li><a href="{{ root_url }}/index.html#sectionResume" class="{{ page.indexEasing }}">Doświadczenie</a></li>
                            <li><a href="{{ root_url }}/index.html#sectionArticles" class="{{ page.indexEasing }}">Czytelnia</a></li>
                            <li><a href="{{ root_url }}/books.html">Książki</a></li>
                            <li><a href="{{ root_url }}/index.html#sectionContact" class="{{ page.indexEasing }}">Kontakt</a></li>
                        </ul>

                    </div>

                </nav>
                <!--END Navigation-->

            </div>
        </div>
        <!--END Header right side-->


    </div>
    <!--END container-->
</header>
<!--END Header bar-->

<!-- section Intro
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="sectionIntro" class="parallax">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container" style="display: none">

            <div class="textIntro">
                <div class="hi">
                    <h1>Dominika Pluskiewicz</h1>
                    <h4>Psycholog - Certyfikowany Psychoterapeuta Poznawczo-Behawioralny</h4>
                </div>
            </div>

        </div>
    </div>
</section>

{{ content }}

<!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<footer class="pFooter">

    <div class="container">

        <div class="col-md-4 col-sm-4 col-xs-12 fCopy">
            Copyright © <span>Dominika Pluskiewicz</span> 2014-2022
            <br>
            <a href="/polityka-prywatnosci.html">Polityka prywatności</a>
            <br>
            <a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;tl=pl&amp;u=https://www.websitepolicies.com/policies/view/mwqJldRg">Polityka ciasteczek</a>
            <p>Made with love by scrils.</p>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 fScroll">
            <a class="easing scroll-up" href="#sectionIntro">
                DO GÓRY<span aria-hidden="true" class="arrow_carrot-up"></span>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 fCopy fCoop">
            Współpraca:
            <p>Psycholog OD NOWA <br> <a href="http://www.psychologodnowa.pl/">psychologodnowa.pl</a></p>
            <p>Michał Grasza <br> <a href="https://michalgrasza.pl">michalgrasza.pl</a></p>
            <p>Kursy mindfulness <br> <a href="http://www.kwantumszkolenia.com.pl/?fbclid=IwAR1VkyueJp7tPW97wcnN_MxdJa57HoAfqGcDhxt1rydWx6c3s_MSOgoqRbg">Tomasz Kryszczyński</a></p>
        </div>

    </div>

</footer>

<!--  Javascripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <script src="{{ root_url }}/assets/js/jquery-2.1.1.js"></script>
      <script src="{{ root_url }}/assets/js/bootstrap.js"></script>
      <script src="{{ root_url }}/assets/js/modernizr.custom.js"></script>
      <!-- Navigation menu-->
      <script src="{{ root_url }}/assets/js/classie.js"></script>
      <script src="{{ root_url }}/assets/js/nav-active.js"></script>
      <script src="{{ root_url }}/assets/js/jquery.easing.js"></script>
      <!--JS for MAGNIFIC POPUP & ALL SCRIPTS& CALLS-->
      <script src="{{ root_url }}/assets/js/scripts.js"></script>
      <script src="{{ root_url }}/assets/js/jquery.magnific-popup.min.js"></script>
      <!--JS for easy scrolling-->
      <script src="{{ root_url }}/assets/js/smoothscroll.js"></script>
      <!-- WOW ANIMATIONS -->
      <script src="{{ root_url }}/assets/js/wow.min.js"></script>
      <script src="{{ root_url }}/assets/js/jquery-parallax.js"></script>
      <!-- Masonry Package -->
      <script src="{{ root_url }}/assets/js/isotope.pkgd.min.js"></script>
      <script>
        new WOW().init();
      </script>


<script>
$(window).load(function(){
var $container = $('#masonry-grid');
  $container.isotope({
      itemSelector: '.grid-item'
  });
});
</script>

<script>
$(window).load(function(){
var $container2 = $('#blog-grid');
  $container2.isotope({
      itemSelector: '.blog-item'
  });
});
</script>
<script type="text/javascript">
$(document).ready(function(){

  //.parallax(xPosition, speedFactor, outerHeight) options:
  //xPosition - Horizontal position of the element
  //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
  //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
$('#sectionIntro').parallax({ "coeff":+0.5 });

});

$('.open-popup-link').magnificPopup({
    type:'inline',
    midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71153351-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="{{ root_url }}/assets/components/components.js" async defer type="module"></script>

  </body>
</html>
